@font-face {
  font-family: Karla;
  src: url(font/karla.regular.ttf);
}

body {
  font-family: Karla;
}

p {
  font-size: 20px;
}

#heading_text {
  padding-top: 200px;
  font-size: 50px;
  font-size: bold;
}

#courses_header {
  padding-top: 50px;
}

.courses_wave_start {
  margin-top: -190px;
  z-index: 0;
}

.courses_wave_end {
  z-index: 0;
}

#courses_heading_img {
  padding-top: 30px;
  position: relative;
  z-index: 1;
  height: auto;
}

.courses_wave_content {
  background-color: #12d8fa;
  color: #fff;
  padding: 40px 0px;
}

#heading_courses_wave {
  font-size: 50px;
  font-size: bold;
  margin-top: -50px;
}

.footer {
  background-color: #f0f0f0;
  border-top: 2px solid #023047;
  padding-top: 50px;
}

.footer_logo {
  font-size: 48px;
  color: #1fa2ff;
  font-family: Karla;
}

#course {
  border: 1px solid #023047;
  background-color: #f0f0f0;
  color: #000;
  padding: 30px 10px;
  border-radius: 20px;
  margin: 45px 0px;
  box-shadow: 0px 1px 15px #023047;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
}
.btn-grad {
  margin-top: 120px;
  margin-left: 60px;
  padding: 15px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 18px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-custom {
  background-color: #1fa2ff;
  font-size: 25px;
  padding: 8px 25px;
  border: 1px solid #023047;
  color: #fff;
}
